// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours

// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;


// Named colors

// TODO: change grays
$light-gray: #f4f4f4;
$mid-gray: #abacaa;
$dark-gray: #303130;


$background-color: #f6f6f3;
$nav-bar-color: #1f2f5c;
$accent-color: #f2b98d;
$accent-color-hover: #ffd6dd;